/* Colors */
$background-color: #fffff8;
$text-color: #111;

$body-width: 87.5%;
$left-padding: 12.5%;
$body-max-width: 1400px;

/* Typography */
$body-font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$body-font-italic: et-book-italic;
$default-global-font-size: 15px;

/* Article Title Styling */
$article-title-font-weight: 400;
$article-title-margin-top: 4rem;
$article-title-margin-bottom: 1.5rem;
$article-title-font-size: 3.2rem;
$article-title-line-height: 1;

/* Article Subtitle Styling */
$article-subtitle-font-style: et-book-italic;
$article-subtitle-margin-top: 1rem;
$article-subtitle-margin-bottom: 1rem;
$article-subtitle-font-size: 1.8rem;
$article-subtitle-line-height: 1;
$article-subtitle-display: block;

/* Section Heading Styling */
$section-heading-font-style: et-book-italic;
$section-heading-font-weight: 400;
$section-heading-margin-top: 2.1rem;
$section-heading-margin-bottom: 0;
$section-heading-font-size: 2.2rem;
$section-heading-line-height: 1;

/* Low Level Headings */
$section-subheading-font-style: et-book-italic;
$section-subheading-font-weight: 400;
$section-subheading-margin-top: 2rem;
$section-subheading-margin-bottom: 0;
$section-subheading-font-size: 1.7rem;
$section-subheading-line-height: 1;


/* Non Tufitan Content */
$light-gray: #dfdfdf;
$blog-title-font: 'nevis';
$blog-title-font-size: 2.3em;
$blog-title-text-transform: uppercase;
$blog-subtitle-font: 'calluna-regular';
$blog-subtitle-font-size: 1.4em;


