/* Colors */
$main-color: #258fb8;
$black: #333;
$light-gray: #dfdfdf;

/* Typography */
$body-font: 'sorts-mill-goudy';
$body-font-italic: 'sorts-mill-goudy-italic';
$body-font-size: 1.1em;

$blog-title-font: 'nevis';
$blog-title-font-size: 2.3em;
$blog-title-text-transform: uppercase;

$blog-subtitle-font: 'calluna-regular';
$blog-subtitle-font-size: 1.4em;

$subheadings-align: left;
$subheading-font-size: 1.1em;
$subheading-font-weight: bold;
$subheading-font-style: normal;
$subheading-top-spacing: 2em;

$post-font-size: 1.1em;
$post-font-line-height: 1.7em;
$post-align: justify;
$post-title-font-size: 1.6em;
$post-title-font-weight: normal;
$post-title-font-style: normal;
$post-title-line-height: 1.3em;
$post-title-align: center;

$blockquote-font-family: 'sorts-mill-goudy-italic';
$blockquote-font-size: 1em;

/* Layout */

/* Width of the content area */
$content-width: 45%;

/* Space between the date and the post */
$post-content-top-space: 3em;
/* TODO Remove date */

/* Weight of the line at the very top of the page */
$top-line-weight: 8px;     

