@import "bourbon/bourbon";
@import "typography";
@import "variables";


/* Tufte CSS */


body {
    /*
    margin: 0;
    padding: 0;
    */
    border-top: $top-line-weight solid $black;
    /* Tufte CSS */
    margin-left: auto;
    margin-right: auto;
    width: $body-width;
    max-width: $body-max-width;
    padding-left: $left-padding;
    font-size: $body-font-size;
    font-family: $body-font-family;
    /* Text Color */
    color: $text-color;
    background-color: $background-color;
    /* Tufte CSS */
}

em {  
    /* Tufte CSS */
    font-style: italic;
    /*
    Using the same font family as regular body.
    font-style: normal;
    font-family: $body-font-italic;
    */
    }

/* The main blog header */

header {
    /* Unsure of whether text-align center is needed or not? */
    text-align: center;
    /* Note that this .title is what tufte calls an h1. 
       Reserving this only for title. */
    .title {
        font-family: $blog-title-font;
        font-size: $blog-title-font-size;
        text-transform: $blog-title-text-transform;
        }
            .subtitle {
        font-family: $blog-subtitle-font;
        font-size: $blog-subtitle-font-size;
        }
 /* turning off tufte css mod for now
    .title { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.2rem;
     line-height: 1; }
         */
/*
    While tufte styles his subtitles in paragraphs. I am using just
    the class subtitle. 


    .subtitle { font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }
             */
              /* END TUFTE MOD */
        
    border-bottom: 1px solid $light-gray;
    /* Is it redundant to have a link to the home as 
    the title ? */
    a {
        color: $black;
        text-decoration: none;
        &:hover,
        &:active {
            color: $main-color;
        }
    }/* // a */
    
}    

/* Tufte CSS */


h2 {
    margin-top: $subheading-top-spacing;
    font-size: $subheading-font-size;
    font-weight: $subheading-font-weight;
    font-style: $subheading-font-style;
}

.wrap {
    margin: 0 auto;
    width: $content-width;
    /* blog footer */
    /* The greater than symbol tells css that you want only the footer to be
     * affected and not internals 
     */
    & > footer {
        margin-top: 2em;
        padding: 2em 0;
        border-top: 1px solid $light-gray;
        text-align: center;
        font-size: 0.8em;
        }
}

/* Index */
.index {
    text-align: center;
    ul {
        list-style-type: none;
    }
}



a {
    color: $main-color;
    text-decoration: none;
    &:hover {
        color: $black;
    }
}

blockquote {
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
}

article {
    padding: 0;
        /* Tufte CSS */
	font-size: $post-font-size;
        /* Tufte CSS */
	line-height: $post-font-line-height;
	text-align: $post-align;
	header {
		margin: 0 0 $post-content-top-space 0;
		padding: 0;
		border: 0px;
		text-align: center;
        /* Experimental usage of blog title and post title 
        to look identical
                h1 {
            font-size: $post-title-font-size;       
            font-weight: $post-title-font-weight;
            font-style: $post-title-font-style;
            line-height: $post-title-line-height;
            text-align: $post-title-align;
            } */
        h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.2rem;
     line-height: 1; }

		}
}