{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<article>
 <header>
    <!-- This will be Article title -->
    <h1>
         {{ article.title }}      
    </h1>
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div>
</article>
{% endblock %}
